







 <div class="top"><h1> Questions </h1></div>

 

     <div class="table">
    				
		<% @questions.each_with_index do |question, index| %>
				   <div><%=index +1 %>. <%= question['question'] %></div>
				    <br>
						   <div>  1.'answer'
				              <input id="flex-item" name=" <%= index %>" type="radio" value="APPLE" />
				           </div>
				           <br>
				           <div>  
					           	2.'answer'
					             <input id="gender_male" name="answer <%= index %>" type="radio" value="Google" />
				            </div>

				           <br>

				           <div>  3.'answer' 
				              <input id="gender_male" name="answer <%= index %>" type="radio" value="HTML" />
				            </div>

				              <br>

				           <div>  
				           4.'answer'
				              <input id="gender_male" name="answer <%= index %>" type="radio" value="CSS" />
				            </div>
				              <br>
				              <br>
					<%    end    %>

	</div>			




<%= link_to "BACK", root_path %>







       
    
  

