<!DOCTYPE html>
<html>
  <head>
    <title>project5</title>
    <%= csrf_meta_tags %>

   <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

 <body ng-app="kidsrcode">


     
  
<ul class="nav nav-tabs" style="font-family: 'Raleway', sans-serif; font-size: 20px;">
  <li class="home" role="presentation"><%= link_to "Home", root_path %></li>
 
</ul>
  
   


   <button type="button" class="btn btn-success"  button> "Questions"  

   <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

   

   <ui-view></ui-view>
  </body>
</html>