<!DOCTYPE html>
<html>
  <head>
    <title>Kidsrcode</title>
     <%= stylesheet_link_tag  'application', media: 'all'  %>
     <%= csrf_meta_tags %>
     <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
   <link rel="stylesheet" href="animate.min.css">
</head>

<div class="site-container">
  <div class="site-pusher">
    
    <header class="header">
      
      <a href="#" class="header__icon" id="header__icon"></a>
     </div> 

     <div class="navtabs"> 
             
        <ul class="nav nav-tabs" style="font-family: 'Raleway'>, sans-serif; font-size: 20px;">
            <li class="flex-item"><%= link_to "Home", root_path %></li>

            <li class="flex-item"><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
            <li class="flex-item"><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
            <li class="flex-item"><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
         </ul>
  </div>
  
  <div class="container"><div>
  
      
    </header>
    <br>
    <br>

    <div class="logo">
                        <img class="card-img-top" src="http://imageshack.com/a/img923/408/LgIH38.jpg"  width="200" height="50" ></div>
         
  <body>  


          <img src="http://codeteachers.com/wp-content/uploads/2016/03/kids-coding.png">

           <!--  <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="http://imageshack.com/a/img923/408/LgIH38.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div
             -->

         <div align="center" class="category">           
              <ul class="ca-menu">
                    <li>
                      <a href="#">
                        <span class="ca-icon">A</span>
                        <div class="ca-content">
                          <h2 class="ca-main">  Kids R Code  </h2>
                          <h3 class="ca-sub">A fun start to coding</h3>
                        </div>
                      </a>
                    </li>
              </ul>

              <ul class="ca-menu1">
                    <li>
                      <a href="#">
                        <span class="ca-icon">B</span>
                        <div class="ca-content">
                          <h2 class="ca-main">  FUN LEARNING  </h2>
                          <h3 class="ca-sub"> EXCITING & NEW</h3>
                        </div>
                      </a>
                    </li>
              </ul>

               <ul class="ca-menu2">
                    <li>
                      <a href="#">
                        <span class="ca-icon">C</span>
                        <div class="ca-content">
                          <h2 class="ca-main">  SKILLS FOR  </h2>
                          <h3 class="ca-sub"> A LIFETIME  </h3>
                        </div>
                      </a>
                    </li>
              </ul>
        </div>
          

          
          <div id="kids">

        <h1 class="animated infinite pulse">Kids R Code</h1></div>

          <img ng-src="http://imageshack.com/a/img923/408/LgIH38.jpg" alt=""></div>

           
             <div id="play">

        <h1 class="animated infinite hinge ">Code Will break</h1></div>

           <br>
     
            <div id="racer">
             
        <h1 class="animated infinite slideInLeft">Coding Made Fun!!!</h1>
               
          </div>

          

         <div id="container">

        
        </div>


             <div id="fun">

        <h1 class="animated infinite slideInRight ">"Hello World"</h1></div>


  <div id="container">

 

 <%= yield %>
   </div>

  
 
  </body>
</html>
